In [2]:
import pandas as pd
import numpy as np

## pd.Series
Seriest is one-dimensional labeled array capable of holding data of any type. Initiation of Series looks like 
```
class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
```

In [12]:
some_list = [1, 3, 5, np.nan, 6, 8]; #np.nan is not taken in all computations. Also its necessary to mention that nan in float type
series_1 = pd.Series(data = some_list);
print(series_1);

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [15]:
ind = ["1st day", "2nd day", "3rd day", "4th day", "5th day", "6th day"];

series_2 = pd.Series(data = some_list, name = "Temperature", index = ind);
print(series_2);

1st day    1.0
2nd day    3.0
3rd day    5.0
4th day    NaN
5th day    6.0
6th day    8.0
Name: Temperature, dtype: float64

In [11]:
print(series_2['4th day']);

nan

In [24]:
#indexes work with the same syntax as lists or numpy arrays

print(series_2[0], "\n")
print(series_2[1:3], "\n")
print(series_2[::-1])

1.0

2nd day    3.0
3rd day    5.0
Name: Temperature, dtype: float64

6th day    8.0
5th day    6.0
4th day    NaN
3rd day    5.0
2nd day    3.0
1st day    1.0
Name: Temperature, dtype: float64